#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
}

#content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.sidebar-header {
    padding: 10px;
    background: #343a40;
}

.components {
    padding: 20px 0;
}

.components li {
    padding: 10px 0;
}

.components li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #adb5bd;
}

.components li a:hover {
    background: #495057;
    color: white;
}